path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#read {
  fill: green;
}

marker#write {
  fill: red;
}

path.read {
  stroke: green;
}

path.write {
  stroke: red;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

circle.CallExpression
{
	fill: magenta;
}

circle.NewExpression
{
	fill: yellow;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}